.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
  }

a:hover {
    transition: linear 0.1s;
    opacity: 0.5;
}