.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.feynman__link:hover {
    transition: linear 0.1s;
    opacity: 0.5;
}